.p1{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    color: black;
    border: 10px solid black;
    box-shadow: 0 3px 4px rgb(0,0,0);
    transition: all 0.5ms ease;
    display: flex;
    align-items: center;
}

.p1:hover{
    transform: scale(1.2);
    background-color: gray;
}

.p1{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    color: black;
    border: 10px solid black;
    box-shadow: 0 3px 4px rgb(0,0,0);
    transition: all 0.5ms ease;
    display: flex;
    align-items: center;
}

.p1:hover{
    transform: scale(1.2);
    background-color: goldenrod;
}

.i1{
    border-radius: 50%;
    object-fit: cover;
}

.i1{
    border-radius: 50%;
    object-fit: cover;
}

